# Add registries
common --registry=file://%workspace%/bzl_registry
common --registry=https://bcr.bazel.build
# common --registry=file://%workspace%/out/bazel-central-registry

# Used to get git describe information
build --stamp --workspace_status_command=./scripts/get_workspace_status.sh
